*,
*::before,
*::after {
  box-sizing: border-box;
}

/* hide button divs to start */




@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }